@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("/font/SpoqaHanSansNeo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: SpoqaHanSansNeo, sans-serif;
}
